@import "../../../index.scss";

.about-us-story {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
  justify-items: end;
  // padding-top: clamp(18px, 3vw, 44px);
}

.about-us-story p {
  margin: 0;
  max-width: 860px;
  text-align: right;
  font-size: clamp(16px, 1.4vw, 26px);
  line-height: 1.3;
  color: rgba($secondary, 0.92);
}
